<!DOCTYPE html>
<html lang="pt_br"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partyy | Sua Plataforma de Festas</title>

    <!-- Definição das folhas de estilo -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/page-find-partyy.css">

     <!-- Fonte utilizada pelo site -->
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

</head>
<body id="page-partyys">
    <div id="container">
        <header class="page-header"> <!-- Cabeçalho e pesquisa -->
            <div class="top-bar-container">
                <a class="left-arrow" href="/">
                    <img src="/images/icons/left-arrow.png" alt="Voltar">
                </a>
                    <img src="/images/logo.svg" alt="Proffy">
            </div>

            <div class="header-content">
                <strong>Estas são as suas Partyys disponíveis :)</strong>
                <form id="search-partyys">
                    <div class="select-block">
                        <label for="partyy_type">Temática</label>
                        <select name="partyy_type" id="partyy_type">
                            <option value="" disabled="" hidden="">Selecione uma opção</option>
                            {%for partyy_type in partyy_types%}
                                <option value="{{loop.index}}" {{ "selected" if filters.partyy_type == loop.index }}>{{partyy_type}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="select-block">
                        <label for="weekday">Dia da semana</label>
                        <select name="weekday" id="weekday">
                            <option value="" disabled="" hidden="">Selecione uma opção</option>
                            {%for weekday in weekdays%}
                                <option value="{{loop.index0}}" {{ "selected" if filters.weekday == loop.index0 }}>{{weekday}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="input-block">
                        <label for="time">Hora</label>
                        <input name="time" id="time" type="time" value="{{filters.time}}">
                    </div>
                    <button type="submit">Filtrar</button>
                </form>
            </div>
        </header>

        <main>            
            {%for partyy in partyys %}

            <article class="partyy-item">
                <header>
                    <img 
                        src="{{partyy.partyy_photo}}"
                        alt="{{partyy.partyy_name}}">
                    <div>
                        <strong>{{partyy.partyy_name}}</strong>
                        <span>{{partyy.partyy_type}}</span>
                        <span>Dia: {{partyy.weekday}}, Das: {{partyy.time_from}}, Até: {{partyy.time_to}}</span>
                    </div>                    
                </header>
                
                <p>Anunciado por: {{partyy.name_owner}}</p>
                <p>Endereço: {{partyy.address}} {{partyy.address_number}}</p>
                <p>{{partyy.description}}</p>                            
                <footer>
                    <p>Preço:<strong>R$ {{partyy.cost}}</strong>
                    </p>
                    <a href="https://api.whatsapp.com/send?l=pt_BR&phone=55{{proffy.whatsapp}}&text=Tenho interesse na sua aula de {{proffy.subject}} {{proffy.name}}" class="button" target="_blank">
                        <img src="/images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato
                    </a>
                </footer>
            </article>

            {%endfor%}
        </main>
    </div>
</body>
</html>