<!DOCTYPE html>
<html lang="pt_br">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">

    <title>Partyy | Sua Plataforma de Festas</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-landing.css">    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

</head>
<body id="page-landing"> <!-- id = # class = . -->    
    <div id="container">
        <div class="logo-container">
            <!--<img src="/images/logo.svg" alt="Partyy">-->
            <p>PARTYY</p>
            <h2>Encontre as melhores festas!</h2>
        </div>
        <div class="hero-image">
            PARTYY
        </div>
        <div class="buttons-container">
            <a class="find-partyy" href="/find-partyy">
                <img src="/images/icons/beer.svg" alt="">
                Festas
            </a>
            <a class="make-partyy" href="/make-partyy">
                <img src="/images/icons/megaphone.svg" alt="">
                Crie uma festa!         
            </a>
        </div>
        <p class="total-partyy">
            Total de 5000 partyys já realizadas
            <img src="/images/icons/heart.svg" alt="">
        </p>
    </div>  
</body>
</html>