:root { 
    /*
    --color-background: #f0f0f7;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774dd6;
    --color-primary-darker: #6842c2;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;    
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;*/
    /*  Tamanho da fonte padrão: 10px - 100% - 1rem */
    font-size: 60%; /* Controles das medidas rem */

    --color-background: #2B2D42;
    --color-primary: #2B2D42;
    --color-primary-lighter: #8D99AE;
    --color-secondary-white: #ffffff;
    --color-secondary-light: #8D99AE;
    --color-secondary-lighter: #EDF2F4;        
    --color-third: #D90429;
    --color-third-lighter: #EF233C;
    --color-text: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100vh; /* height = altura */
}

body {
    background: var(--color-secondary-lighter);
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    /* font: 500 1.6rem Poppins; */
    font-weight: 700;
    font-family: 'Roboto';
    font-size: 2.6rem;
    color: var(--color-text-base);
}

#container {
    width: 90vw; /* width = largura */
    max-width: 700px;    
}

@media (min-width: 700px){
    :root {
        font-size: 62.5%; /* todo 1rem via ser relativo a 10px */
    }
}
