#page-landing {
    background-color: var(--color-background);
}

#page-landing #container {
    color: var(--color-text-in-primary);
}

p, h2 {
    color: var(--color-secondary-white);
}

.logo-container img {
    height: 10rem;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container p {
    text-align: left;
    margin-bottom: 3.2rem;
    letter-spacing: 0.8rem;    
}

.logo-container h2 {
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.hero-image {    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 10rem;
    letter-spacing: 3.2rem;
    color: var(--color-primary-lighter);
    border: 2px solid var(--color-primary-lighter);
    padding-left: 2.6rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    margin-right: 1.6rem;
    font: 400 2.4rem 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.2s;
    color: var(--color-secondary-white);
}

.buttons-container a img {
    width: 4rem;
    margin-right: 2.4rem;
}

.buttons-container a.find-partyy {
    background: var(--color-third);
}

.buttons-container a.find-partyy:hover {
    background: var(--color-third-lighter);
}


.buttons-container a.make-partyy {
    background: var(--color-third);
    margin-right: 0;
}

.buttons-container a.make-partyy:hover {
    background: var(--color-third-lighter);
}

.total-partyy {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-partyy img {
    margin-left: 1rem;
    width: 1.6rem;
}

@media (max-width: 699px){
    :root {
        font-size: 40%; /* Modificar as medidas rem */
    }
}

@media (min-width: 1100px) {
    #page-landing #container {
        max-width: 1100px;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 350px 1fr;
        grid-template-areas: 
        "proffy image image"
        "button button texting";
        gap: 60px;
    }

    .logo-container {
        grid-area: proffy; /* Especificando a area do template */
        text-align: initial; /* Inicia ao inicio do grid*/
        align-self: center; /* Se ajusta ao centro do grid*/
        margin: 0;
    }

    .logo-container img {
        height: 127px;
    }

    .hero-image {
        grid-area: image;
        height: 350px;
    }
    
    .buttons-container {
        grid-area: button;
        justify-content: flex-start;
    }

    .total-connections {
        grid-area: texting;
        justify-self: end;
        font-size: 1.2rem;
    }
}
